@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:wght@500&family=Roboto:wght@400;700&display=swap');

:root {
    --blue: #325d80;
    --lightBlue: #5797cc;
    --gray: #aeaeae;
    --heightScreen: 600px;
}

@font-face {
    font-family: "headerTitle";
    src: url('../fonts/FreigSanBolSC.ttf');
    font-style: normal; 
    font-weight: normal; 
}

body {
    max-width: 400px;
    max-height: 800px;
    font-family: "Open Sans", sans-serif;
    font-size: 11pt;
}

.ghost-element {
    width: 33px;
}

.blue_text {
    color: var(--blue);
    cursor: pointer;
}

.lightBlue_text {
    color: var(--lightBlue);
}

.gray_text {
    color: var(--gray);
}

.flexed {
    display: flex;
    align-items: center;
}

.bold {
    font-weight: 700;
}