.explore {
    background-image: url('../../img/elements/bg_texture.jpg');
    background-size: 5%;
    padding: 8px;
    height: 500px;
    overflow-y: overlay;
}

.explore__img-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4px
}