.explore {
    background-image: url('../../img/elements/bg_texture.jpg');
    background-size: 5%;
    
    height: 500px;
    overflow-y: overlay;
}

.explore__img-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4px;
    padding: 8px;
}

.search {
    border-bottom: 1px solid #B2B2B2;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
}

.search__input {
    background-color: white;
    margin: 0px 10px 10px 10px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 4px;
    color: gray;
    display: flex;
    align-items: center;
}

.search__input input {
    width: 100%;
    
    padding: 4px 0;
}

.search__input img {
    height: 16px;
    padding-right: 5px;
    padding-left: 5px;
    
}