.post {
    
    padding-bottom: 10px;
}

.post__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.post__avatar img {
    height: 42px;
    aspect-ratio: 1/1;
}

.post__avatar {
    width: 12%;
}

.post__author {
    width: 78%;
    font-weight: 700;
    color: var(--blue);
}

.post__author img {
    height: 15px;
    padding-right: 3px;
}

.post__time {
    width: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
}

.post__time img {
    width: 17px;
    height: 17px;
}

.post__actions {
    margin-top: 5px;
}

.post__desc img, .post__like img {
    height: 12px;
    padding-right: 7px;
}

.post__desc span, .post__comments span {
    padding-right: 5px;
}

.post__comments {
    margin-left: 18px;
}

.post__btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.post__btn .flexed {
    gap: 10px;
}

.post__btn-like, .post__btn-comment, .post__btn-more {
    width: 45px;
    height: 45px;
    background-size: cover;
}

.post__btn-like {
    background-image: url('../../img/elements/stream_photo_activity_button_like_default.png');
}

.post__btn-like:hover {
    background-image: url('../../img/elements/stream_photo_activity_button_like_default_pressed.png');
}

.post__btn-comment {
    background-image: url('../../img/elements/stream_photo_activity_button_comment_default.png')
}

.post__btn-comment:hover {
    background-image: url('../../img/elements/stream_photo_activity_button_comment_default_pressed.png')
}

.post__btn-more {
    background-image: url('../../img/elements/stream_photo_actions_button_more_default.png')
}

.post__btn-more {
    background-image: url('../../img/elements/stream_photo_actions_button_more_default_pressed.png')
}